In [1]:
import pandas as pd
import numpy as np
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash_html_components import Br
from dash.dependencies import Input, Output
import plotly.express as px
import dash_table
from readDB import ReadMongoData as db

In [2]:
bookings = db.getBookings()
agents = db.getAgents()
agentscom = db.getAgentCommissions()
agencies = db.getAgencies()

In [3]:
agentscom

                          AgentCommission  AgentId __v
_id
610c9d613db7864cd4bd57cf               31        1   0
610c9e5d1b03d84644a7a435               48        7   0
610ebf7d92465e2580eb5828               28        6   0
610ee4e9eee5a24ec64610cf               48        2   0
610ee58eeee5a24ec64610ef               48        1   0
...                                   ...      ...  ..
61130bb34e20b15d8c0f39f4               48        3   0
61130bc84e20b15d8c0f39fa               48        3   0
61130bff4e20b15d8c0f3a00               48        3   0
61130c4a4e20b15d8c0f3a06               48        3   0
61131d1d0eb7115decf3d532               48        4   0

[135 rows x 3 columns]

In [4]:
agentscom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135 entries, 610c9d613db7864cd4bd57cf to 61131d1d0eb7115decf3d532
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AgentCommission  135 non-null    int64
 1   AgentId          135 non-null    int64
 2   __v              135 non-null    object
dtypes: int64(2), object(1)
memory usage: 4.2+ KB

In [5]:
agentscom_agents = pd.merge(agents,agentscom, on = 'AgentId')
bookings_agents = pd.merge(bookings, agentscom_agents, on="AgentId")
bookings_agents

,AgentId,BookingDate,PackageId,customerId,totalPrice,travellerCount,title,PkgStartDate,__v_x,_id,...,AgtMiddleInitial,AgtLastName,AgtBusPhone,AgtEmail,AgtPosition,AgencyId,password,username,AgentCommission,__v_y
0,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,None,Delton,(403) 210-7801,janet.delton@travelexperts.com,Senior Agent,1,NaN,NaN,31,0
1,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,None,Delton,(403) 210-7801,janet.delton@travelexperts.com,Senior Agent,1,NaN,NaN,48,0
2,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,None,Delton,(403) 210-7801,janet.delton@travelexperts.com,Senior Agent,1,NaN,NaN,48,0
3,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,None,Delton,(403) 210-7801,janet.delton@travelexperts.com,Senior Agent,1,NaN,NaN,48,0
4,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,None,Delton,(403) 210-7801,janet.delton@travelexperts.com,Senior Agent,1,NaN,NaN,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,8,2021-08-09 00:49:33.775,8,1234,39204,12,Maui Hawaii,2021-10-25,0,8,...,None,Merrill,(403) 210-7868,jane.merrill@travelexperts.com,Senior Agent,2,NaN,NaN,45,0
1887,8,2021-08-09 00:49:33.775,8,1234,39204,12,Maui Hawaii,2021-10-25,0,8,...,None,Merrill,(403) 210-7868,jane.merrill@travelexperts.com,Senior Agent,2,NaN,NaN,30,0
1888,8,2021-08-09 00:49:33.775,8,1234,39204,12,Maui Hawaii,2021-10-25,0,8,...,None,Merrill,(403) 210-7868,jane.merrill@travelexperts.com,Senior Agent,2,NaN,NaN,32,0
1889,8,2021-08-09 00:49:33.775,8,1234,39204,12,Maui Hawaii,2021-10-25,0,8,...,None,Merrill,(403) 210-7868,jane.merrill@travelexperts.com,Senior Agent,2,NaN,NaN,40,0
1890,8,2021-08-09 00:49:33.775,8,1234,39204,12,Maui Hawaii,2021-10-25,0,8,...,None,Merrill,(403) 210-7868,jane.merrill@travelexperts.com,Senior Agent,2,NaN,NaN,30,0

In [6]:
bookings_agents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1891 entries, 0 to 1890
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AgentId           1891 non-null   int64
 1   BookingDate       1891 non-null   datetime64[ns]
 2   PackageId         1891 non-null   int64
 3   customerId        1891 non-null   int64
 4   totalPrice        1891 non-null   int64
 5   travellerCount    1891 non-null   int64
 6   title             1891 non-null   object
 7   PkgStartDate      1891 non-null   datetime64[ns]
 8   __v_x             1891 non-null   int64
 9   _id               1891 non-null   int64
 10  role              1891 non-null   object
 11  AgtFirstName      1891 non-null   object
 12  AgtMiddleInitial  1436 non-null   object
 13  AgtLastName       1891 non-null   object
 14  AgtBusPhone       1891 non-null   object
 15  AgtEmail          1891 non-null   object
 16  AgtPosition       1891 non-null   object
 17  AgencyId          1891 non-null   int64
 18  password          190 non-null    object
 19  username          190 non-null    object
 20  AgentCommission   1891 non-null   int64
 21  __v_y             1891 non-null   object
dtypes: datetime64[ns](2), int64(9), object(11)
memory usage: 339.8+ KB

In [7]:
packages = db.getPackages()

In [10]:
agentscom_agents = pd.merge(agents,agentscom, on = 'AgentId')
bookings_agents = pd.merge(bookings, agentscom_agents, on="AgentId")
bookings_agents
bookings_agents_pckages = pd.merge(bookings_agents, packages, on="PackageId")
bookings_agents_pckages

,AgentId,BookingDate,PackageId,customerId,totalPrice,travellerCount,title,PkgStartDate_x,__v_x,_id,...,PkgName,PkgStartDate_y,PkgEndDate,PkgDesc,PkgBasePrice,PkgAgencyCommission,destination,SupName,PkgImgSrc,__v
0,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,Polynesian Paradise,2021-12-12,2021-12-20,Enjoy an 8 Day All Inclusive Hawaiian Vacation...,3000,300,Honolulu,AVILA TOURS INC.,https://images.unsplash.com/photo-154132072931...,NaN
1,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,Polynesian Paradise,2021-12-12,2021-12-20,Enjoy an 8 Day All Inclusive Hawaiian Vacation...,3000,300,Honolulu,AVILA TOURS INC.,https://images.unsplash.com/photo-154132072931...,NaN
2,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,Polynesian Paradise,2021-12-12,2021-12-20,Enjoy an 8 Day All Inclusive Hawaiian Vacation...,3000,300,Honolulu,AVILA TOURS INC.,https://images.unsplash.com/photo-154132072931...,NaN
3,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,Polynesian Paradise,2021-12-12,2021-12-20,Enjoy an 8 Day All Inclusive Hawaiian Vacation...,3000,300,Honolulu,AVILA TOURS INC.,https://images.unsplash.com/photo-154132072931...,NaN
4,1,2021-08-06 02:24:10.912,2,1,3310,1,Polynesian Paradise,2005-12-12,0,1,...,Polynesian Paradise,2021-12-12,2021-12-20,Enjoy an 8 Day All Inclusive Hawaiian Vacation...,3000,300,Honolulu,AVILA TOURS INC.,https://images.unsplash.com/photo-154132072931...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,9,2021-08-09 00:49:33.775,11,1255,18615,5,"Cairo, Egypt",2022-06-15,0,9,...,"Cairo, Egypt",2022-06-15,2022-07-05,"Discover the histroy of Cairo, Egypt. Lorem, i...",3650,365,Cairo,BLYTH & COMPANY TRAVEL,https://images.unsplash.com/photo-162367458754...,0.0
1887,9,2021-08-09 00:49:33.775,11,1255,18615,5,"Cairo, Egypt",2022-06-15,0,9,...,"Cairo, Egypt",2022-06-15,2022-07-05,"Discover the histroy of Cairo, Egypt. Lorem, i...",3650,365,Cairo,BLYTH & COMPANY TRAVEL,https://images.unsplash.com/photo-162367458754...,0.0
1888,9,2021-08-09 00:49:33.775,11,1255,18615,5,"Cairo, Egypt",2022-06-15,0,9,...,"Cairo, Egypt",2022-06-15,2022-07-05,"Discover the histroy of Cairo, Egypt. Lorem, i...",3650,365,Cairo,BLYTH & COMPANY TRAVEL,https://images.unsplash.com/photo-162367458754...,0.0
1889,9,2021-08-09 00:49:33.775,11,1255,18615,5,"Cairo, Egypt",2022-06-15,0,9,...,"Cairo, Egypt",2022-06-15,2022-07-05,"Discover the histroy of Cairo, Egypt. Lorem, i...",3650,365,Cairo,BLYTH & COMPANY TRAVEL,https://images.unsplash.com/photo-162367458754...,0.0
1890,9,2021-08-09 00:49:33.775,11,1255,18615,5,"Cairo, Egypt",2022-06-15,0,9,...,"Cairo, Egypt",2022-06-15,2022-07-05,"Discover the histroy of Cairo, Egypt. Lorem, i...",3650,365,Cairo,BLYTH & COMPANY TRAVEL,https://images.unsplash.com/photo-162367458754...,0.0

In [11]:
bookings_agents_pckages.to_csv('booking.csv', index=False)

In [12]:
suppliers = db.getSuppliers()

AttributeError: module 'readDB.ReadMongoData' has no attribute 'getSuppliers'

In [ ]:
combiend_df = bookings_agents_pckages.join(suppliers)